/*

	A.Cute Framework	
	Created by Nigel Peters
  
*/
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 44, ../sass/_mixins.scss */
.clearfix, .group {
  zoom: 1;
}
/* line 32, ../sass/_mixins.scss */
.clearfix:before, .clearfix:after, .group:before, .group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 38, ../sass/_mixins.scss */
.clearfix:after, .group:after {
  clear: both;
}

/*
	Always working mobile first 
	Therefore setting up Breakpoint variables
*/
/* Makes border-box properties */
/* line 21, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/_grid.scss */
.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
  padding: 10px 20px;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 32, ../sass/_mixins.scss */
.container:before, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 38, ../sass/_mixins.scss */
.container:after {
  clear: both;
}

/* line 26, ../sass/_grid.scss */
.menu-container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
  padding: 0;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
.menu-container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 32, ../sass/_mixins.scss */
.menu-container:before, .menu-container:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 38, ../sass/_mixins.scss */
.menu-container:after {
  clear: both;
}

/* line 32, ../sass/_grid.scss */
.last {
  float: right;
  margin-right: 0;
  /*  boob */
}

/* line 39, ../sass/_grid.scss */
.box {
  background-color: #7A649F;
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 47, ../sass/_grid.scss */
header {
  /*
  	This ul list holds the open reach logo
  	and the date tab
  */
}
/* line 50, ../sass/_grid.scss */
header .container {
  padding-bottom: 0px;
  padding-top: 20px;
  position: relative;
}
@media (min-width: 768px) {
  /* line 50, ../sass/_grid.scss */
  header .container {
    padding-top: 30px;
  }
}
/* line 59, ../sass/_grid.scss */
header .connected-logo {
  float: left;
  position: absolute;
  bottom: 0;
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}
@media (min-width: 768px) {
  /* line 59, ../sass/_grid.scss */
  header .connected-logo {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
}
@media (min-width: 1159px) {
  /* line 59, ../sass/_grid.scss */
  header .connected-logo {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 79, ../sass/_grid.scss */
header ul {
  float: right;
}
/* line 83, ../sass/_grid.scss */
header .openreach-logo {
  margin-bottom: 20px;
  width: 120px;
}
@media (min-width: 768px) {
  /* line 83, ../sass/_grid.scss */
  header .openreach-logo {
    margin-bottom: 35px;
    width: 200px;
    margin-bottom: 10px;
  }
}
/* line 94, ../sass/_grid.scss */
header .tab {
  float: right;
  padding: 5px 0;
  font-size: 0.8125em;
  text-transform: uppercase;
  color: #A2238E;
}
@media (min-width: 768px) {
  /* line 94, ../sass/_grid.scss */
  header .tab {
    padding: 5px 0;
    font-size: 1.125em;
  }
}

/* line 111, ../sass/_grid.scss */
.header-band {
  font-size: 0.6875em;
  text-transform: uppercase;
  background-color: #A2238E;
  color: #fff;
}
@media (min-width: 768px) {
  /* line 111, ../sass/_grid.scss */
  .header-band {
    font-size: 0.8125;
  }
}
/* line 120, ../sass/_grid.scss */
.header-band .container {
  padding-top: 4px;
  padding-bottom: 3px;
}

/* line 128, ../sass/_grid.scss */
article {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 133, ../sass/_grid.scss */
article .headerimg {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  margin-bottom: 20px;
}
/* line 138, ../sass/_grid.scss */
article .headerimg {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  /* line 128, ../sass/_grid.scss */
  article {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 145, ../sass/_grid.scss */
  article .headerimg {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1159px) {
  /* line 128, ../sass/_grid.scss */
  article {
    width: 57.62712%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 153, ../sass/_grid.scss */
  article .headerimg {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    float: right;
    margin-left: 20px;
  }
}
/* line 160, ../sass/_grid.scss */
article ul {
  list-style-type: disc;
  margin: 0px 0px 15px 20px;
}
/* line 165, ../sass/_grid.scss */
article ol {
  list-style-type: decimal;
  margin: 0px 0px 15px 20px;
}
/* line 170, ../sass/_grid.scss */
article .social-links {
  float: left;
  padding: 0px 10px;
  margin-bottom: 45px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
  color: #A2238E;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}
/* line 183, ../sass/_grid.scss */
article .social-links h4 {
  margin: 0;
}
/* line 187, ../sass/_grid.scss */
article .social-links ul {
  margin: 5px 14px 0px 14px;
  list-style-type: none;
  display: inline-table;
}
/* line 193, ../sass/_grid.scss */
article .social-links ul li {
  float: left;
  padding: 0 24px;
  border-right: 1px solid #ddd;
}
/* line 198, ../sass/_grid.scss */
article .social-links ul li:first-child {
  padding-left: 0;
}
/* line 202, ../sass/_grid.scss */
article .social-links ul li:last-child {
  border: none;
  padding-right: 0;
}
/* line 207, ../sass/_grid.scss */
article .social-links ul li a:hover {
  text-decoration: underline;
}
/* line 211, ../sass/_grid.scss */
article .social-links ul li img {
  float: left;
}
/* line 219, ../sass/_grid.scss */
article .info-box {
  float: left;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #7A649F;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 227, ../sass/_grid.scss */
article .info-box img {
  float: left;
  margin-right: 10px;
}
/* line 232, ../sass/_grid.scss */
article .info-box p {
  margin: 0px;
  color: #fff;
}

/* line 242, ../sass/_grid.scss */
aside {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 246, ../sass/_grid.scss */
aside .side-list {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
/* line 251, ../sass/_grid.scss */
aside .side-list .thumbnail {
  margin-left: 10px;
  position: relative;
  width: 96px;
  height: 96px;
  overflow: hidden;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 260, ../sass/_grid.scss */
aside .side-list .thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  max-width: none;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 271, ../sass/_grid.scss */
aside .side-list .thumbnail img.portrait {
  width: 100%;
  height: auto;
}
/* line 280, ../sass/_grid.scss */
aside .currentoffers h2 {
  padding: 10px 5px 10px 5px;
  margin-bottom: 0px;
  line-height: 24px;
  font-weight: bold;
  border-top: 6px solid #aaa;
  border-bottom: 2px solid #aaa;
}
/* line 289, ../sass/_grid.scss */
aside .currentoffers h2 small {
  font-size: 16px;
  font-weight: normal;
}
@media (min-width: 768px) {
  /* line 242, ../sass/_grid.scss */
  aside {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
}

/* line 303, ../sass/_grid.scss */
.currentoffers {
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
/* line 309, ../sass/_grid.scss */
.currentoffers header {
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  border-top: 6px solid #aaa;
  border-bottom: 2px solid #aaa;
}
/* line 320, ../sass/_grid.scss */
.currentoffers header img {
  float: left;
  margin-right: 20px;
  display: block;
}
/* line 327, ../sass/_grid.scss */
.currentoffers header h2 {
  margin-bottom: 0px;
  display: block;
  font-size: 1.625em;
  line-height: 32px;
}
/* line 339, ../sass/_grid.scss */
.currentoffers p {
  padding: 0px 5px;
}
/* line 342, ../sass/_grid.scss */
.currentoffers p:last-child {
  border-bottom: 2px solid #aaa;
  padding-bottom: 10px;
}
/* line 347, ../sass/_grid.scss */
.currentoffers p:only-child {
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}
/* line 355, ../sass/_grid.scss */
.currentoffers ul.right_column li {
  border-bottom: 1px solid #aaa;
  padding: 5px;
}
/* line 360, ../sass/_grid.scss */
.currentoffers ul.right_column li:last-child {
  border-bottom: 2px solid #aaa;
}
/* line 364, ../sass/_grid.scss */
.currentoffers ul.right_column li a {
  display: block;
  padding-right: 30px;
  text-decoration: none;
  color: #5A5A5A;
  background: url("../img/img-blue-bullet.jpg") no-repeat right;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 364, ../sass/_grid.scss */
  .currentoffers ul.right_column li a {
    /* Retina-specific stuff here */
    background: url("../img/img-blue-bullet-x2.jpg") no-repeat right;
    background-size: 25px 25px;
  }
}
/* line 380, ../sass/_grid.scss */
.currentoffers ul.right_column li a:hover {
  text-decoration: underline;
}

/* line 393, ../sass/_grid.scss */
.gallery h3 {
  float: left;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  color: #00ADEF;
  border-bottom: solid 1px #ddd;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 404, ../sass/_grid.scss */
.gallery figure {
  float: left;
  width: 28.57143%;
  float: left;
}
/* line 66, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
.gallery figure:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
.gallery figure:nth-child(3n + 2) {
  margin-left: 35.71429%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
.gallery figure:nth-child(3n + 3) {
  margin-left: 71.42857%;
  margin-right: -100%;
  clear: none;
}
/* line 409, ../sass/_grid.scss */
.gallery a {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  float: left;
  margin-bottom: 10px;
}
/* line 415, ../sass/_grid.scss */
.gallery a.last-promo-tablet {
  display: none;
}
/* line 419, ../sass/_grid.scss */
.gallery a.last-promo-desktop {
  display: block;
}
@media (min-width: 768px) {
  /* line 409, ../sass/_grid.scss */
  .gallery a {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 10px;
  }
  /* line 427, ../sass/_grid.scss */
  .gallery a:nth-child(2) {
    float: right;
    margin-right: 0;
  }
  /* line 431, ../sass/_grid.scss */
  .gallery a.last-promo-tablet {
    display: block;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 436, ../sass/_grid.scss */
  .gallery a.last-promo-desktop {
    display: none;
  }
}
@media (min-width: 1159px) {
  /* line 409, ../sass/_grid.scss */
  .gallery a {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 10px;
  }
  /* line 445, ../sass/_grid.scss */
  .gallery a:last-child {
    float: right;
    margin-right: 0;
  }
  /* line 449, ../sass/_grid.scss */
  .gallery a.last-promo-tablet {
    display: none;
  }
  /* line 453, ../sass/_grid.scss */
  .gallery a.last-promo-desktop {
    display: block;
  }
}
/* line 458, ../sass/_grid.scss */
.gallery a img {
  width: 100%;
}

/* line 467, ../sass/_grid.scss */
* {
  margin: 0;
}

/* line 470, ../sass/_grid.scss */
html, body {
  height: 100%;
}

/* line 473, ../sass/_grid.scss */
.wrapper {
  min-height: 100%;
  margin: 0 auto -75px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 477, ../sass/_grid.scss */
footer, .push {
  height: 75px;
  /* '.push' must be the same height as 'footer' */
}

/* line 483, ../sass/_grid.scss */
footer .container {
  padding-bottom: 0;
  padding-top: 5px;
  border-top: solid 3px #A2238E;
}
/* line 489, ../sass/_grid.scss */
footer ul {
  padding: 0px 0 10px 0;
}
/* line 492, ../sass/_grid.scss */
footer ul li {
  border-bottom: 1px solid #aaa;
  padding: 7px 0;
}
/* line 497, ../sass/_grid.scss */
footer ul li:first-child {
  padding-top: 0;
}
/* line 501, ../sass/_grid.scss */
footer ul li:last-child {
  padding-bottom: 0;
  border: none;
}
/* line 506, ../sass/_grid.scss */
footer ul li a {
  color: #A2238E;
  text-decoration: none;
  font-size: 0.8125em;
}
/* line 510, ../sass/_grid.scss */
footer ul li a:hover {
  color: #7A649F;
  text-decoration: underline;
}
@media (min-width: 768px) {
  /* line 522, ../sass/_grid.scss */
  footer ul {
    display: table;
    width: 100%;
  }
  /* line 526, ../sass/_grid.scss */
  footer ul li {
    display: table-cell;
    text-align: center;
    border: none;
  }
  /* line 531, ../sass/_grid.scss */
  footer ul li a {
    display: block;
    border-right: 1px solid #aaa;
  }
  /* line 536, ../sass/_grid.scss */
  footer ul li:last-child a {
    border: none;
  }
}
/* line 544, ../sass/_grid.scss */
footer .copyright {
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 1px #ddd solid;
  font-size: 0.8125em;
}
@media (min-width: 768px) {
  /* line 544, ../sass/_grid.scss */
  footer .copyright {
    text-align: center;
  }
}

@font-face {
  font-family: 'btmediumregular';
  src: url("../fonts/btme-webfont.eot");
  src: url("../fonts/btme-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/btme-webfont.ttf") format("truetype"), url("../fonts/btme-webfont.svg#btmediumregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 10, ../sass/_type.scss */
body {
  font-family: Tahoma, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1.6;
  color: #5A5A5A;
}

/* line 19, ../sass/_type.scss */
blockquote {
  margin: 0 0 20px;
  font-style: italic;
  padding: 15px 0 15px 35px;
  font-size: 1.25em;
  line-height: 24px;
  color: #aaa;
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/* line 31, ../sass/_type.scss */
blockquote:before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 1.5em;
  color: #A2238E;
  top: 20px;
  left: -5px;
  content: "\f10d";
}
/* line 42, ../sass/_type.scss */
blockquote p {
  font-family: Tahoma, Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
/* line 46, ../sass/_type.scss */
blockquote small {
  margin-top: 10px;
  display: block;
  font-size: small;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #5A5A5A;
}

/* line 59, ../sass/_type.scss */
h1, h2, h3, h4, h5 {
  font-family: Tahoma, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #A2238E;
}
/* line 63, ../sass/_type.scss */
h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
  color: #A2238E;
}
/* line 66, ../sass/_type.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
  text-decoration: underline;
}

/* line 72, ../sass/_type.scss */
h1 {
  font-size: 2em;
  margin: 0 0 25px;
  line-height: 1em;
}

/* line 78, ../sass/_type.scss */
h2 {
  font-size: 1.5em;
  margin: 0 0 15px;
  line-height: 54px;
}

/* line 84, ../sass/_type.scss */
h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 0 25px;
  line-height: 24px;
}

/* line 91, ../sass/_type.scss */
h4 {
  font-size: 1em;
  margin: 0 0 25px;
  font-weight: 700;
  line-height: 28px;
}

/* line 98, ../sass/_type.scss */
h5 {
  font-size: 0.8em;
  margin: 0 0 25px;
  font-weight: 700;
  line-height: 28px;
}

/* line 105, ../sass/_type.scss */
p {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0 0 20px;
}

/* line 111, ../sass/_type.scss */
pre {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  margin: 0 0 20px;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
}

/* line 124, ../sass/_type.scss */
small {
  font-size: 0.8125em;
  line-height: 10px;
}

/* line 129, ../sass/_type.scss */
strong {
  font-weight: bold;
}

/* line 133, ../sass/_type.scss */
em {
  font-style: italic;
}

/* line 142, ../sass/_type.scss */
p.caption {
  font-size: 0.8125em;
  /* 13px */
  font-style: italic;
  color: #111;
}
/* line 148, ../sass/_type.scss */
p.intro {
  font-size: 1.5em;
  /* 24px */
  line-height: 30px;
}
/* line 153, ../sass/_type.scss */
p.article-date {
  font-size: 0.8125em;
  font-style: italic;
}
/* line 158, ../sass/_type.scss */
p.article-tag {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  color: #00ADEF;
}

/* line 3, ../sass/_forms.scss */
form {
  /* To fully style the select we need to nest it inside a div */
  /*
  
  	<legend>	Represents the caption for a <fieldset>.
  	<label>		Represents the caption of a form control.
  	<fieldset>	Represents a set of controls.
  	<input>		Represents a typed data field allowing the user to edit the data.
  	<textarea>	Represents a multiline text edit control.
  	<select>	Represents a control allowing selection among a set of options.
  
  	<optgroup>	Represents a set of options , logically grouped.
  	<option>	Represents an option in a <select> element, or a suggestion of a <datalist> element.
  	<button>	Represents a button.
  
  	HTML 5 Elements
  	<datalist> This element has been added in HTML5	Represents a set of predefined options for other controls.
  	<keygen> This element has been added in HTML5	Represents a key-pair generator control.
  	<output> This element has been added in HTML5	Represents the result of a calculation.
  	<progress> This element has been added in HTML5	Represents the completion progress of a task.
  	<meter> This element has been added in HTML5	Represents a scalar measurement (or a fractional value), within a known range.	
  */
}
/* line 7, ../sass/_forms.scss */
form label {
  /* FORM LABEL: */
  font-family: HelveticaNeue-Bold;
  font-size: 0.0625em;
  color: #aaa;
  line-height: 12px;
  text-transform: uppercase;
}
/* line 17, ../sass/_forms.scss */
form input[type=text], form textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
/* line 23, ../sass/_forms.scss */
form input[type=text], form input[type=email], form input[type=phone], form input[type=password], form input[type=number], form textarea {
  /* Rectangle 11: */
  background: #fff;
  border: 1px solid #aaa;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 5px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 35, ../sass/_forms.scss */
form input[type=text]:focus, form input[type=email]:focus, form input[type=phone]:focus, form input[type=password]:focus, form input[type=number]:focus, form textarea:focus {
  border-color: #00ADEF;
}
/* line 38, ../sass/_forms.scss */
form input[type=text].auto, form input[type=email].auto, form input[type=phone].auto, form input[type=password].auto, form input[type=number].auto, form textarea.auto {
  width: auto;
}
/* line 43, ../sass/_forms.scss */
form input[disabled] {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: none;
}
/* line 52, ../sass/_forms.scss */
form .styled-select {
  background: #D8D8D8;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #5d646f 100%);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1), 0px -1px 0px 0px rgba(255, 255, 255, 0.73), 0px 1px 1px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
/* line 55, ../sass/_forms.scss */
form .styled-select select {
  background: transparent;
  padding: 5px;
  font-size: 12px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  display: block;
  width: 100%;
}

/* line 1, ../sass/_media.scss */
img, video, audio, iframe, object {
  max-width: 100%;
}

/* Need a mixin that creates all the various button sizes */
/* line 4, ../sass/_buttons.scss */
a {
  color: #00ADEF;
}
/* line 6, ../sass/_buttons.scss */
a:hover, a:focus {
  color: #A2238E;
}
/* line 9, ../sass/_buttons.scss */
a:active {
  color: #A2238E;
  text-decoration: none;
}

/* line 16, ../sass/_buttons.scss */
.btn, .btn-success, .btn-danger, .btn-info, .btn-link {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #aaa;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  line-height: 16px;
  padding: 5px 10px;
  text-transform: capitalize;
  outline: none;
}
/* line 29, ../sass/_buttons.scss */
.btn:hover, .btn-success:hover, .btn-danger:hover, .btn-info:hover, .btn-link:hover, .btn:focus, .btn-success:focus, .btn-danger:focus, .btn-info:focus, .btn-link:focus {
  background: #9d9d9d;
  text-decoration: none;
  color: #FFFFFF;
}
/* line 35, ../sass/_buttons.scss */
.btn:active, .btn-success:active, .btn-danger:active, .btn-info:active, .btn-link:active {
  background: #919191;
}

/* line 42, ../sass/_buttons.scss */
.btn-success {
  background-color: #007D64;
}
/* line 45, ../sass/_buttons.scss */
.btn-success:hover, .btn-success:focus {
  background-color: #006450;
}
/* line 48, ../sass/_buttons.scss */
.btn-success:active {
  background-color: #004a3b;
}

/* line 54, ../sass/_buttons.scss */
.btn-danger {
  background-color: #CA3741;
}
/* line 57, ../sass/_buttons.scss */
.btn-danger:hover, .btn-danger:focus {
  background-color: #b7303a;
}
/* line 60, ../sass/_buttons.scss */
.btn-danger:active {
  background-color: #a32b33;
}

/* line 66, ../sass/_buttons.scss */
.btn-info {
  background-color: #00ADEF;
}
/* line 69, ../sass/_buttons.scss */
.btn-info:hover, .btn-info:focus {
  background-color: #009bd6;
}
/* line 72, ../sass/_buttons.scss */
.btn-info:active {
  background-color: #0088bc;
}

/* line 78, ../sass/_buttons.scss */
.btn-cta {
  font-size: 1.6em;
  padding: .8em 1.6em;
}

/* line 84, ../sass/_buttons.scss */
.btn-link {
  color: #007D64;
  background: transparent;
  border: none;
  text-shadow: none;
  text-transform: none;
}
/* line 92, ../sass/_buttons.scss */
.btn-link:hover, .btn-link:focus {
  text-decoration: underline;
  background: transparent;
}

/* line 1, ../sass/_notifications.scss */
.logo-box {
  padding: 5px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  border: 1px #aaa solid;
  background-color: #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 10, ../sass/_notifications.scss */
.logo-box img {
  float: left;
  margin-right: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 16, ../sass/_notifications.scss */
.logo-box p {
  display: block;
  margin-bottom: 0;
  color: #fff;
  font-size: 0.8125em;
}
@media (min-width: 768px) {
  /* line 16, ../sass/_notifications.scss */
  .logo-box p {
    font-size: 1em;
  }
}
/* line 26, ../sass/_notifications.scss */
.logo-box p a {
  color: #fff;
}

/* line 7, ../sass/_styleguide.scss */
.frame {
  margin: 0 auto;
  margin-bottom: 15px;
}
/* line 11, ../sass/_styleguide.scss */
.frame:after {
  content: "";
  display: table;
  clear: both;
}

/* line 20, ../sass/_styleguide.scss */
.style {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 24, ../sass/_styleguide.scss */
.bit-75 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}

/* line 28, ../sass/_styleguide.scss */
.bit-50 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}

/* line 32, ../sass/_styleguide.scss */
.bit-25 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}

/* line 36, ../sass/_styleguide.scss */
.last {
  float: right;
  margin-right: 0;
}

/* line 44, ../sass/_styleguide.scss */
.heading-box {
  background-color: #A2238E;
  color: #fff;
  font-size: 3em;
  padding: 5px 20px;
  text-align: left;
}

/* line 52, ../sass/_styleguide.scss */
.heading-rule {
  color: #aaa;
  border-bottom: 3px solid #aaa;
  margin-bottom: 10px;
}

/* line 58, ../sass/_styleguide.scss */
.heading-dash {
  overflow: hidden;
  text-align: left;
}

/* line 63, ../sass/_styleguide.scss */
.heading-dash:after {
  border-top: 1px dashed #aaa;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

/* line 74, ../sass/_styleguide.scss */
.heading-dash:after {
  left: .5em;
  margin-right: -60%;
}

/* line 79, ../sass/_styleguide.scss */
.font-size {
  font-weight: bold;
  font-size: 1.687em;
  margin: 0;
  line-height: 35px;
}

/* line 86, ../sass/_styleguide.scss */
.small-swatch, .mini-swatch {
  float: right;
  background-color: #00ADEF;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

/* line 98, ../sass/_styleguide.scss */
.mini-swatch {
  height: 15px;
  width: 15px;
}

/* line 106, ../sass/_styleguide.scss */
.style-heading h1, .style-heading h2, .style-heading h3, .style-heading h4, .style-heading h5, .style-heading p {
  line-height: 1;
  margin: 0;
}

/* line 117, ../sass/_styleguide.scss */
.purple {
  background-color: #7A649F;
}

/* line 121, ../sass/_styleguide.scss */
.yellow {
  background-color: #FBF232;
}

/* line 125, ../sass/_styleguide.scss */
.blue {
  background-color: #00ADEF;
}

/* line 129, ../sass/_styleguide.scss */
.claret {
  background-color: #A2238E;
}

/* line 133, ../sass/_styleguide.scss */
.green {
  background-color: #007D64;
}

/* line 137, ../sass/_styleguide.scss */
.orange {
  background-color: #F06418;
}

/* line 144, ../sass/_styleguide.scss */
.red {
  background-color: #CA3741;
}

/* line 148, ../sass/_styleguide.scss */
.green {
  background-color: #007D64;
}

/* line 152, ../sass/_styleguide.scss */
.blue {
  background-color: #00ADEF;
}

/* line 156, ../sass/_styleguide.scss */
.orange {
  background-color: #F06418;
}

/* line 160, ../sass/_styleguide.scss */
.grey {
  background-color: #aaa;
}

/* line 164, ../sass/_styleguide.scss */
.grey-text {
  background-color: #5A5A5A;
}

/* line 169, ../sass/_styleguide.scss */
a.hover {
  color: #00ADEF;
}
/* line 173, ../sass/_styleguide.scss */
a.active {
  text-decoration: none;
}
/* line 177, ../sass/_styleguide.scss */
a.visited {
  color: #F06418;
}

/* line 3, ../sass/_navigation.scss */
nav {
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
}
/* line 8, ../sass/_navigation.scss */
nav .to-main-nav {
  text-decoration: none;
  padding: 0;
  line-height: 40px;
  margin-left: 20px;
  color: #aaa;
  float: left;
  transition: background-color 0.5s ease;
}
/* line 16, ../sass/_navigation.scss */
nav .to-main-nav:hover, nav .to-main-nav.active {
  background-color: #00ADEF;
  color: #fff;
}
@media (min-width: 768px) {
  /* line 8, ../sass/_navigation.scss */
  nav .to-main-nav {
    display: none;
  }
}
/* line 26, ../sass/_navigation.scss */
nav ul {
  border-top: 1px solid #aaa;
  display: none;
  width: 100%;
  color: #aaa;
  font-size: 1.125em;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  float: none;
  clear: left;
}
/* line 39, ../sass/_navigation.scss */
nav ul li {
  height: auto;
  border-top: 1px solid #aaa;
}
@media (min-width: 768px) {
  /* line 39, ../sass/_navigation.scss */
  nav ul li {
    margin: 0 2px;
  }
}
@media (min-width: 1024px) {
  /* line 39, ../sass/_navigation.scss */
  nav ul li {
    margin: 0 5px;
  }
}
/* line 48, ../sass/_navigation.scss */
nav ul li a {
  display: block;
  padding: 0 7px 0 20px;
  color: #aaa;
  text-decoration: none;
  line-height: 40px;
}
@media (min-width: 1024px) {
  /* line 48, ../sass/_navigation.scss */
  nav ul li a {
    padding: 0 10px 0 10px;
  }
}
/* line 57, ../sass/_navigation.scss */
nav ul li a:hover {
  color: #fff;
  background-color: #00ADEF;
}
/* line 63, ../sass/_navigation.scss */
nav ul li:first-child {
  border-top: none;
  margin: 0;
}
/* line 68, ../sass/_navigation.scss */
nav ul li:last-child {
  margin: 0;
}
/* line 72, ../sass/_navigation.scss */
nav ul li.current-menu-parent > a {
  color: #fff;
  background-color: #A2238E;
}
/* line 78, ../sass/_navigation.scss */
nav ul li:hover > ul {
  display: block;
}
/* line 83, ../sass/_navigation.scss */
nav ul ul {
  padding: 0;
  display: none;
  font-size: 1em;
  z-index: 1000;
}
/* line 89, ../sass/_navigation.scss */
nav ul ul li {
  float: none;
  border-top: 1px solid #6b727c;
  position: relative;
  transition: background-color 0.5s ease;
  text-align: left;
  border-top: 1px solid #aaa;
}
/* line 98, ../sass/_navigation.scss */
nav ul ul li a {
  padding: 0 10px 0 30px;
}
/* line 101, ../sass/_navigation.scss */
nav ul ul li a:hover {
  background-color: #A2238E;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  /* line 115, ../sass/_navigation.scss */
  nav ul {
    border: none;
    width: auto;
    position: relative;
    font-size: 18px;
    display: block;
    margin-left: 20px;
  }
  /* line 123, ../sass/_navigation.scss */
  nav ul:after {
    content: "";
    clear: both;
    display: block;
  }
  /* line 127, ../sass/_navigation.scss */
  nav ul li {
    float: left;
    border-top: none;
  }
  /* line 130, ../sass/_navigation.scss */
  nav ul li a {
    padding: 0px;
    margin-right: 14px;
    border-bottom: 5px solid #fff;
    display: block;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  /* line 130, ../sass/_navigation.scss */
  nav ul li a {
    padding: 0;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  /* line 141, ../sass/_navigation.scss */
  nav ul li a:hover {
    background: none;
    color: #aaa;
    border-bottom: 5px solid #A2238E;
  }
  /* line 148, ../sass/_navigation.scss */
  nav ul li.current-menu-parent > a {
    color: #aaa;
    background: none;
    border-bottom: 5px solid #A2238E;
  }
  /* line 156, ../sass/_navigation.scss */
  nav ul li.mn-header-link {
    display: none;
  }
  /* line 160, ../sass/_navigation.scss */
  nav ul li:hover > ul {
    display: block;
  }
  /* line 165, ../sass/_navigation.scss */
  nav ul ul {
    margin-left: 0;
    position: absolute;
    top: 100%;
    padding: 0;
    display: none;
    width: auto;
    background: rgba(66, 70, 75, 0.9);
  }
  /* line 174, ../sass/_navigation.scss */
  nav ul ul li {
    margin: 0;
    border: 0;
    float: none;
    position: relative;
  }
  /* line 181, ../sass/_navigation.scss */
  nav ul ul li a {
    text-shadow: none;
    padding: 5px 10px 5px 10px;
    margin: 0px;
    border: 0;
    font-size: 100%;
    border: none;
    color: #fff;
  }
  /* line 190, ../sass/_navigation.scss */
  nav ul ul li a:hover {
    color: #fff;
    border: none;
  }
  /* line 196, ../sass/_navigation.scss */
  nav ul ul li:first-child {
    border: none;
  }
}
